@{
    ViewData["Title"] = "Login";
}
<body style="background-color:#F5F0E2;">
    <div class="container-fluid" style="margin-bottom:6%;background-color:red;">
        <div class="text-center">
            <div style="
                margin:auto;
                text-align:center;
                background-color: #F9F5BB;
                height:100px;width:400px;
                border-left:solid;
                border-top:solid;
                border-right:solid;
                margin-top: 10%;">
                <h1>Login</h1>
            </div>
            <div style="
              border:solid;
              width: 48%;
              height: 32%;
              background-color: #F9F5BB;
              margin:auto;
              ">
                <br />
                <label>Usuario</label>
                <br />
                <input type="text" id="user" />
                <br />
                <label>Contraseña</label>
                <br />
                <input type="text" id="contraseña" />
                <br />
                <br />
                <button>Logeuate caraculo</button>
                <br />
                <br />
                <input type="checkbox">Recuerdame MMG</input>
                <br />
                <br />
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Has olvidado tu contraseña?</a>
            </div>
        </div>
    </div>
</body>