@{
    ViewData["Title"] = "Nuestros Objetivos" ;
}
<div class="container-fluid" style="margin-bottom:150px">
    <h1 style="text-align:center">
        NUESTROS OBJETIVOS
    </h1>
    <hr />
    <div class="row">
        <!--IMG de la grafica-->
        <div class="col-6">
            <img src="https://blog.oxfamintermon.org/wp-content/uploads/2018/02/ejemplos-de-solidaridad-2.jpg" class="img-fluid" />
        </div>
        <div class="col-6">
            <p class="align-content-center">
                En nuestra empresa, nos dedicamos a ayudar a las personas necesitadas mediante nuestro programa de donaciones alimentarias. 
                Nuestro objetivo principal es proporcionar alimentos a aquellos que no tienen suficientes recursos para cubrir sus necesidades básicas. 
                Nos enfocamos en apoyar a las personas sin hogar, así como a aquellas que tienen dificultades para pagar sus alimentos diarios.
            </p>
            <p class="align-content-center">
                Para lograr nuestro objetivo, hemos establecido un sistema de donaciones que permite a las tiendas, empresas y ONGs colaborar con nosotros. 
                Cualquier persona o entidad que desee hacer una donación puede hacerlo de manera individual o en colaboración con otros.
            </p>
            <p class="align-content-center">
                Con el fin de maximizar el impacto de nuestras donaciones, trabajamos en estrecha colaboración con organizaciones locales que están en contacto directo con las personas necesitadas. 
                De esta manera, podemos asegurarnos de que los alimentos lleguen a aquellos que más lo necesitan de manera rápida y eficiente.
            </p>
            <p class="align-content-center">
                Creemos firmemente que es nuestra responsabilidad como empresa hacer lo posible para mejorar la calidad de vida de las personas en nuestra comunidad. 
                Por eso, estamos comprometidos a continuar con nuestro programa de donaciones alimentarias y seguir trabajando para ayudar a aquellos que más lo necesitan.
            </p>
        </div>
    </div>
</div>