@{
}
<div class="container" style="margin-auto; margin-top:50px;">

    <div class="row">
        <div class="col text-center">
            <div type="button" data-bs-toggle="modal" data-bs-target="#formularioEvento">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formularioEvento">
                    Crear un evento
                </button>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-3" id="filter">
            <h4>Intolerancias</h4> 
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cerdo" name="cerdo" value="1" onclick="filter(this)">
                <label class="form-check-label" for="cerdo">Cerdo</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="marisco" name="marisco" value="2" onclick="filter(this)">
                <label class="form-check-label" for="marsico">Marisco</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="celiaco" name="celiaco" value="3" onclick="filter(this)">
                <label class="form-check-label" for="celiaco">Celiaco</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="lactosa" name="lactosa" value="4" onclick="filter(this)">
                <label class="form-check-label" for="lactosa">Lactosa</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="frutossecos" name="frutossecos" value="5" onclick="filter(this)">
                <label class="form-check-label" for="frutossecos">Frutos Secos</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="diabetes" name="diabetes" value="6" onclick="filter(this)">
                <label class="form-check-label" for="diabetes">Diabetes</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="huevos" name="huevos" value="7" onclick="filter(this)">
                <label class="form-check-label" for="huevos">Huevos</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="hypertension" name="hypertension" value="8" onclick="filter(this)">
                <label class="form-check-label" for="hypertension">Hypertension</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="pescado" name="pescado" value="9" onclick="filter(this)">
                <label class="form-check-label" for="pescado">Pescado</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="trigo" name="trigo" value="10" onclick="filter(this)">
                <label class="form-check-label" for="trigo">Trigo</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="soja" name="soja" value="11" onclick="filter(this)">
                <label class="form-check-label" for="soja">Soja</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="maiz" name="maiz" value="12" onclick="filter(this)">
                <label class="form-check-label" for="maiz">Maiz</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="sesamo" name="sesamo" value="13" onclick="filter(this)">
                <label class="form-check-label" for="sesamo">Sesamo</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cacahuete" name="cacahuete" value="14" onclick="filter(this)">
                <label class="form-check-label" for="cacahuete">Cacahuete</label>
            </div>
        </div>
        <div class="col" id="cargandoEntradas">
            <h2>Cargando eventos...</h2>
        </div>
        <div class="col" id="contenedorEntradas">

        </div>
    </div>
</div>


<!-- Formulario modal -->
<div class="modal fade" id="formularioEvento" tabindex="-1" aria-labelledby="formEvento" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formEvento">Formulario del Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario con los campos -->
                <form id="formularioUserReceptor">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="mb-3">
                                    <label for="nombreProducto" class="form-label">Producto</label>
                                    <input type="text" class="form-control" name="nombreProducto" id="nombreProducto" required>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidadPublicadaProducto" class="form-label">Cantidad de Producto</label>
                                    <input type="number" class="form-control" name="cantidadPublicadaProducto" id="cantidadPublicadaProducto" value="1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="direccion" class="form-label">Direccion</label>
                                    <input type="text" class="form-control" name="direccion" id="direccion" required>
                                </div>
                                <div class="mb-3">
                                    <label for="fechaHoraInicio" class="form-label">Fecha de Inicio</label>
                                    <input type="datetime-local" class="form-control" name="fechaHoraInicio" id="fechaHoraInicio" required>
                                </div>
                                <div class="mb-3">
                                    <label for="fechaHoraFin" class="form-label">Fecha de Fin</label>
                                    <input type="datetime-local" class="form-control" name="fechaHoraFin" id="fechaHoraFin" required>
                                </div>
                                <div class="mb-3">
                                    <label for="categoriaHoriaria" class="form-label">Categoria Horaria</label>
                                    <select name="categoriaHoriaria" name="categoriaHoriaria" id="categoriaHoriaria">
                                        <option value="0">Desayuno</option>
                                        <option value="1">Comida</option>
                                        <option value="2">Merienda</option>
                                        <option value="3">Cena</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <h4>Intolerancias</h4>
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-cerdo" value="1">
                                    <label for="cerdo">Cerdo</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-marisco" value="2">
                                    <label for="marisco">Marisco</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-celiaco" value="3">
                                    <label for="celiaco">Celiaco</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-lactosa" value="4">
                                    <label for="lactosa">Lactosa</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-frutossecos" value="5">
                                    <label for="frutosecos">Frutos secos</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-diabetes" value="6">
                                    <label for="diabetes">Diabetes</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-huevos" value="7">
                                    <label for="huevos">Huevos</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-hipertension" value="8">
                                    <label for="hipertension">Hipertension</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-pescado" value="9">
                                    <label for="pescado">Pescado</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-trigo" value="10">
                                    <label for="trigo">Trigo</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-soja" value="11">
                                    <label for="soja">Soja</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-maiz" value="12">
                                <label for="maiz">Maiz</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-sesamo" value="13">
                                <label for="sesamo">Sesamo</label><br />
                                    <input type="checkbox" class="reg-alergia" id="reg-alergia-cacahuete" value="14">
                                    <label for="cacahuete">Cacahuete</label><br />
                            
                        </div>
                    </div>
                    <hr />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarEvento()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function guardarEvento() {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var alergias = [];
        const checkboxesAlergias = document.getElementsByClassName("reg-alergia");
        
        Array.prototype.forEach.call(checkboxesAlergias, function (element) {
            if (element.checked) {
                alergias.push(element.value);
            }
        });

        var raw = JSON.stringify(
            {
                "usuarioProveedorId": 1,
                "usuarioEmpresaId": null,
                "usuarioOngId": null,
                "nombreProducto": document.getElementById("nombreProducto").value,
                "cantidadPublicadaProducto": document.getElementById("cantidadPublicadaProducto").value,
                "unidadesRestantes": document.getElementById("cantidadPublicadaProducto").value,
                "direccion": document.getElementById("direccion").value,
                "longitud": 41.3884376,
                "latitud": 2.1616888,
                "fechaHoraInicio": document.getElementById("fechaHoraInicio").value,
                "fechaHoraFin": document.getElementById("fechaHoraFin").value,
                "categoriaHoraria": document.getElementById("categoriaHoriaria").value,
                "alergias": alergias
            });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("https://localhost:7211/api/evento", requestOptions)
            .then(response => response.text())
            .then(result => location.reload())
            .catch(error => console.log('error', error));
    }

    function filter(checkbox) {
        const alergiaId = parseInt(checkbox.value);

        callAPI().then((json) => {
            for (let i = 0; i < json.length; i++) {
                if (checkbox.checked && json[i].alergias.includes((alergiaId))) {
                    var productoVisual = document.getElementById(json[i].id);

                    if (productoVisual != null)
                        productoVisual.setAttribute("style", "display: none!important;");
                }
                else {
                    var productoVisual = document.getElementById(json[i].id);
                    
                    if (productoVisual != null)
                        productoVisual.setAttribute("style", "display: inline-block!important;");
                }

                if (json[i].unidadesRestantes == 0) {
                    var productoVisual = document.getElementById(json[i].id);

                    if (productoVisual != null)
                        productoVisual.setAttribute("style", "display: none!important;");
                }
            }
        });
    }

    async function callAPI() {
        const response = await fetch("https://localhost:7211/api/evento");
        const jsonResponse = await response.json();
        return jsonResponse;
    }

    callAPI().then((json) => {
        document.getElementById("cargandoEntradas").setAttribute("hidden", "true");

        document.getElementById("contenedorEntradas").innerHTML = "";
        json.forEach((element) => {

            if (element.unidadesRestantes == 0)
                return;

            var nombresAlergias = [
                "Cerdo",
                "Marisco",
                "Celíaco",
                "Lactosa",
                "Frutos secos",
                "Diabetes",
                "Huevos",
                "Hipertensión",
                "Pescado",
                "Trigo",
                "Soja",
                "Maíz",
                "Sésamo",
                "Cacahuete"
            ];

            var textoAlergias = "";

            element.alergias.forEach((alergia) => {
                textoAlergias += "<li>" + nombresAlergias[alergia - 1] + "</li>";
            });

            var tituloAlergias = "";

            if (textoAlergias.length > 0)
                tituloAlergias = "<strong>Alergias</strong>";

            document.getElementById("contenedorEntradas").innerHTML +=
            `
            <div id="${element.id}" class="card col-5 m-3 bg-light d-inline-block align-top">
                    <div class="card-body" type="button" data-bs-toggle="modal" data-bs-target="#InscripcionEvento-${element.id}">
                    <h5 class="card-title">${element.nombreProducto}</h5>
                        <strong>Inicio</strong>
                        <p>${element.fechaHoraInicio}</p><br>
                        <strong>Fin</strong>
                        <p>${element.fechaHoraFin}</p><br>
                        <strong>Dirección</strong>
                        <p>${element.direccion}</p><br>
                        <strong>Unidades disponibles</strong>
                        <p><b>${element.unidadesRestantes}</b> / ${element.cantidadPublicadaProducto} </p><br>
                        ${tituloAlergias}
                    <ul>
                        ${textoAlergias}
                    </ul>

                    <!-- Formulario modal -->
                    <div class="modal fade" id="InscripcionEvento-${element.id}" tabindex="-1" aria-labelledby="InscripcionEventoSi" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="InscripcionEventoSi">Gracias por colaborar</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="apuntarmeOferta(${element.id})">Te quieres apuntar a esta oferta?????</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `;
        })
    });

    function apuntarmeOferta(idEvento) {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            redirect: 'follow'
        };
        
        fetch("https://localhost:7211/api/suscribir/1/" + idEvento, requestOptions)
            .then(response => response.text())
            .then(result => { location.reload(); })
            .catch(error => console.log('error', error));
    }
</script>